$color1:#0f6e38;
$color2:#0d278d;
$color3:#fff;
$color4:#000;
$color5:#555;
@mixin layout {width:1400px; margin:0 auto;}
body {height:200vh;}
header {@include layout; background: $color3;
    position:fixed; height: 100px;
    left:50%; top:0; z-index:999;
    transform:translateX(-50%);
    display:flex; justify-content: space-between; align-items: center;
    h1 {img {}}
    nav {
        background: lime;
        .gnb {
            display: flex;
            >li { 
                display: flex;
                position:relative;
                >a {
                    background: yellow; width:200px; line-height: 100px; background: aqua;
                    font-size: 0.8rem;
                }
                .sub {
                    background: #0f6e38;position:absolute; top:100px; width:100%; height:300px;
                    li {
                        a {
                            display: block; padding:10px;}
                    }
                }
                //서브 배경 만드는 방법 1.
                //js 설정 시 display 기능만 가능, height 애니메이션 X
/*                 .sub::after {
                    content:''; display:block;
                    width:1000%; position:absolute; z-index: -1; background: $color3; height:100%;
                    top:0; left:-550%;
                } */
            }
        }
        .bg {
            background: pink; height:400px; width:1000%; left:-50%;
            position:absolute; z-index: -1; top:100px;
        }
    }
}
header::after {
    content:''; display:block;
    width:10000%; position:absolute; z-index: 2; background: $color3; height:100%;
    top:0; left:-50%; z-index: -1;
} //z-index로 뒤로 보냄
main {background: url(../images/posco/s01_bg.jpg) no-repeat;
    background-size: cover;
    position:relative;
    height:100vh; width:100%;
    h1 {text-align:center; color:$color3; padding-top: 450px;
    font-size: 3.5rem; line-height: 1.5; letter-spacing: -0.02em;
    font-weight: 800;
    }
}
main::after{
    content:''; display:inline-block;
    position:absolute; left:0; top:0; z-index:90;
    width:100%; height:100vh;
    background: linear-gradient(90deg, $color2, transparent, rgba($color1,0.5))
}